{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for Foodies</h1>
        <h3 class="fw-normal text-muted mb-3">Eat anything you want with BLEHBLEHBLEH</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Explore
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
</div>

<!-- For You Section -->
{% if favorite_restaurants %}
<div class="container mt-5">
    <h2 class="text-center">For You: {{ user.first_name }}'s Favorite Restaurants</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for restaurant in favorite_restaurants %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Thumbnail</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h5 class="card-title">{{ restaurant.name }}</h5>
              <p class="card-text">{{ restaurant.vicinity }}</p>
              <p class="card-text"><strong>Rating:</strong> {{ restaurant.rating }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                        <a href="{% url 'restaurant_details' restaurant.name %}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <p class="text-center mt-5">No favorite restaurants found for your favorite cuisine.</p>
{% endif %}

{% endblock %}
